.ImageBoard {
  border: 1px solid black;
  width: 100vw;
  height: calc(100vw / 1.78);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.Square:hover {
  background-color: black;
}
