@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
:root {
  --red: #ff4742;
  --white: #fff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  color: var(--red);
}
label,
input,
select {
  font-family: inherit;
  font-weight: 600;
  color: var(--red);
}
label {
  font-size: 1.8rem;
}
input,
select {
  background: none;
  background-color: var(--white);
  border: none;
  border: 2px solid var(--red);
  border-radius: 0.5rem;
  padding: 12px 14px;
  font-size: 1.5rem;
  line-height: 1.6rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: var(--red);
}
#root {
  height: inherit;
  width: inherit;
}
.btn {
  display: block;
  width: 10rem;
  background: var(--red);
  border: 1px solid var(--white);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: var(--white);
  border-color: var(--red);
  background-position: 0 0;
  color: var(--red);
}

.btn:active {
  opacity: 0.5;
}
.input-type-file {
  cursor: pointer;
  border: 1px solid black;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--red);
  min-height: 4rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--red);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  border-radius: 6px;
}
.icon {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid var(--red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
.MainSection {
  min-height: 80vh;
  width: 100vw;
}
/* TODO error*/
